# Configuration file

richpresence {
    # The second line you have in the rich presence.
    #  Placeholders are:
    # %players% - Amount of all players
    # %otherpl% - Amount of players -1 (except you)
    # %dimensionName% - The name of the dimension
    # %dimensionID% - The ID of the current dimension
    # %biome% - The current Biome
    S:Message=Playing on a random Server with %otherpl% other players

    # The Icon-Key. Use 'world' or 'cube' if you donï¿½t have an special one.
    S:IconKey=world
}


